.DS_Store
node_modules/
/dist
notes/

# env files
.env

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.slns
*.sw?

# config file
config.*
!config.template.*
